[user]
	name = samWidlund
	email = sam.wid415@gmail.com
[alias]
	st = status
	br = branch
	pu = pull
	cm = commit -m 
	cam = commit -a -m
	ps = push
[init]
	defaultBranch = main
[fetch]
    prune = true
[push]
    autoSetupRemote = true
[credential]
	helper = store
